table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    font-weight: bold;
    color: #444;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #e2f4ff;
  }
  
  /* td:last-child {
    text-align: right;
  }
   */
  .currency {
    text-align: right;
  }
  
  .currency:before {
    content: "$";
    float: left;
    margin-right: 4px;
  }
  
  .date {
    white-space: nowrap;
  } 
  
   .date:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #999;
  }
  
  .date:after {
    content: "Joined";
    display: inline-block;
  }
  